<div id="sugerencias"></div>

<script type="module">
import { sugerirProductos } from "/static/js/tpv_ai.js";
import { obtenerCarrito } from "/static/js/tpv_tienda.js";
import { obtenerCatalogo } from "/static/js/tpv_catalogo.js";

function renderIA() {
    const sug = sugerirProductos(obtenerCarrito(), obtenerCatalogo());
    const div = document.getElementById("sugerencias");

    div.innerHTML = "<h3>Sugerencias</h3>";

    sug.forEach(p => {
        div.innerHTML += `<p>${p.nombre} - $${p.precio}</p>`;
    });
}

renderIA();
</script>
