<script type="module" src="/static/js/tpv_constants.js"></script>
<script type="module" src="/static/js/tpv_config.js"></script>
<script type="module" src="/static/js/tpv_roles.js"></script>
<script type="module" src="/static/js/tpv_permissions.js"></script>
<script type="module" src="/static/js/tpv_state.js"></script>
<script type="module" src="/static/js/tpv_router.js"></script>
<script type="module" src="/static/js/tpv_init.js"></script>
<script type="module" src="/static/js/tpv_boot.js"></script>

<script type="module" src="/static/js/tpv_login.js"></script>
<script type="module" src="/static/js/tpv_catalogo.js"></script>
<script type="module" src="/static/js/tpv_tienda.js"></script>
<script type="module" src="/static/js/tpv_inventario.js"></script>
<script type="module" src="/static/js/tpv_dashboard.js"></script>
<script type="module" src="/static/js/tpv_security.js"></script>
<script type="module" src="/static/js/tpv_pwa.js"></script>
<script type="module" src="/static/js/tpv_ai.js"></script>

<script type="module" src="/static/js/tpv_agent.js"></script>
