        <!-- Contenido de las Pestañas -->
        <main class="tab-content" id="myTabContent">
            <!-- Pestaña TPV/Catálogo -->
            {% include 'partials/tabs/_tab_caja.html' %}
            {% include 'partials/tabs/_tab_dashboard.html' %}
            {% include 'partials/tabs/_tab_orden_actual.html' %}
            {% include 'partials/tabs/_tab_ventas_hoy.html' %}
            {% include 'partials/tabs/_tab_inv_inventario.html' %}
            {% include 'partials/tabs/_tab_cliente_qr.html' %}
            {% include 'partials/tabs/_tab_gestion_productos.html' %}
            {% include 'partials/tabs/_tab_gestion_categorias.html' %}
            {% include 'partials/tabs/_tab_registros.html' %}
            {% include 'partials/tabs/_tab_nom_nomenclador.html' %}
            {% include 'partials/tabs/_tab_herramientas.html' %}
            {% include 'partials/tabs/_tab_conf_config.html' %}
            {% include 'partials/tabs/_tab_exportar_ventas.html' %}
            {% include 'partials/tabs/_tab_licencias.html' %}
            {% include 'partials/tabs/_tab_dev_api.html' %}
            {% include 'partials/tabs/_tab_dev_logs.html' %}
            {% include 'partials/tabs/_tab_tienda.html' %}
            {% include 'partials/tabs/_tab_privilegios.html' %}
            {% include 'partials/tabs/_tab_seguridad.html' %}
            {% include "partials/tabs/_tab_dev_metrics.html" %}
